  <div class="row actions-list">
    <div class="col-md-8"></div>
    <div class="col-md-2">
      <button type="button" class="btn btn-warning" v-on:click="downloadLogs">Загрузить логи</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-success" v-on:click="printLogs">Вывести логи</button>
    </div>
  </div>