<% layout('index') -%>

  <div class="row actions-list">
    <div class="col-md-5"></div>
    <div class="col-md-3">
      <h4 class="offset">Вывести {{ offset + activeCount }} пользователей</h4>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-warning" v-on:click="downloadLogs">Загрузить логи</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-success" v-on:click="printLogs" v-bind:disabled="!logsAreReady">Вывести логи</button>
    </div>
  </div>

<div class="list-group">

    <div class="user row list-group-item" v-for="user in logs">

      <div class="user-info col-md-2">
        <h3 class="user__id">ID:</h3>
        <p>{{ user.id }}</p>
      </div>
     
      <div class="visits col-md-4">
        <h3 class="visits__title">Даты: </h3>
        <ul class="dates list-group">
          <li class="dates__item list-group-item  list-group-item-action" v-for="visit in user.dates">
            <span>{{ visit.date }}</span> - <span>{{ (visit.duration / 60).toFixed(1) }} мин</span>
          </li>
        </ul>
      </div>

        <div class="watches col-md-6" v-if="user.watches.length != 0">
          <h3 class="watches__title">Просмотры: </h3>
          <ul class="hits list-group">
            <li class="hits__item list-group-item" v-for="watch in user.watches">
              <a class="list-group-item-action" href="#">{{ watch }}</a>
            </li>
          </ul>
        </div> 

    </div>

</div>